#answerArea {
    padding: 10px;
}

#answerBtn {
    width: 100px;
    height: 50px;
    font-size: 25px;
}

#answerBtn:hover {
    width: 105px;
    height: 55px;
    font-size: 25px;
}

#feedbackOutput {
    font-size: 30px;
    padding: 0px;
}

#gamePlay {
    text-align: center;
    margin: 0 auto;
    height: 500px;
    width: 300px;
}

#mainContent {
    background-color: blue;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

#problem1, #problem2, #operator {
    font-size: 65px;  
}

#problem1 {
    position: relative;
    right: 25px;
    float: right;
}

#problem2 {
    position: relative;
    right: 25px;
    float: right;
}

#operator {
    float: left;
    left: 25px;
    color: #67ba06;
}

#title {
    max-width: 100%;
    align-content: center;
}

#userAnswer {
    width: 240px;
    height: 100px;
    border-radius: 5px;
    font-size: 72px;
    border-top: 10px solid #67ba06;
    text-align: right;
    font-size: 63px;
}

#wrapper {   
    margin-left: auto;
	margin-right: auto;
    background-color: aquamarine;
	width: 95%;
	min-width: auto;
	box-shadow: 10px 10px 10px #000000;  
}

.btn {
    position: relative;
    background-color: #E86900;
    color: #FFFFFF;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 5px 5px;
    max-width: 250px;
    height: 250px;
    -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.btnIcon {
    max-width: 75%;  
}

.btnIcon2 {
    max-width: 50%;
}

.btnIcon3 {
    max-width: 100%;
}

.btnIcon4 {
    max-width: 40%;
}

.btnNav {
    background-color: #FF2E2E;
    border: none;
    font-weight: 700;
    color: #FFFFFF;
    padding: 25px 25px;
    width: 150px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 5px 5px;
    -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.btnNav:hover {
    background-color: #6600FF;
}

.btnRadio input[type=radio] {
  display: none;
}


.btnRadio label:hover{
    background-color: #FFA500;
    cursor: pointer;
}

.pageTitle {
    height: 85px;
}

.pageTitle2 {
    max-height: 185px;
}

body {
    background-color: #00ffff;
    padding-top: 20px;
    padding-bottom: 30px;  
}

footer {
    background-color: #FF00D8;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

header { 
    background-image: url(../images/titleBackground.png);
    background-position: center;
    text-align: center;
    height: auto;  
}

html * {
   font-family: Arial, Helvetica, sans-serif !important;
}

nav {
    background-color: #1BE000;
    padding: 10px;
    text-align: center;
}

span {
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
}

table {
    margin: 0 auto;
    position: relative;
}

th {
    display:inline-block;
}

th input[type="radio"]:checked+label {
    border: 5px solid white;  
}

@media only screen and (max-width: 500px) {
    #answerBtn {
        width: 65px;
        height: 25px;
        font-size: 15px;
    }

    #answerBtn:hover {
        width: 70px;
        height: 30px;
        font-size: 15px;
    }
    
    #feedbackOutput {
        font-size: 15px;
    }
    
    #userAnswer {
        border-top: 5px solid #67ba06;  
        width: 150px;
        height: 50px;
        font-size: 25px;
    }
    
    #gamePlay {
        text-align: center;
        margin: 0 auto;
        height: 218px;
        width: 180px;
    }
    
    #operator {
        float: left;
        left: 25px;
        color: #67ba06;
    }
    
    #problem1, #problem2, #operator {
        font-size: 25px;
    }
    
    #title {
       height: 75px; 
    }
    
    .btn {
        width: 118px;
        height: 118px;
        font-size: 15px;
    }
    
    .btnNav {
        font-size: 15px;
        width: 100px;
        padding: 15px 15px;
    }
    
    .pageTitle {
        height: 50px;
        max-width: 100%;
    }
    
    .pageTitle2 {
        height: 100px;
        max-width: 100%;
    }
    
    nav {
        padding: 10px;
        text-align: center;
    }
        
    th {
        padding: 0px;
    }
}
